<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Merge Sort</key>
	<string>nlog(n)</string>
	<key>Bogo Sort</key>
	<string>1</string>
	<key>Quick Sort</key>
	<string>nlog(n)</string>
	<key>Intro Sort</key>
	<string>nlog(n)</string>
	<key>Heap Sort</key>
	<string>nlog(n)</string>
	<key>Bubble Sort</key>
	<string>n</string>
	<key>Radix Sort</key>
	<string>kn</string>
	<key>Shell Sort</key>
	<string>n</string>
	<key>Insertion Sort</key>
	<string>n</string>
	<key>Selection Sort</key>
	<string>n^2</string>
</dict>
</plist>
