<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Merge</key>
	<string>nlog(n)</string>
	<key>Bucket</key>
	<string>n+k</string>
	<key>Quick</key>
	<string>nlog(n)</string>
	<key>Intro</key>
	<string>nlog(n)</string>
	<key>Heap</key>
	<string>nlog(n)</string>
	<key>Bubble</key>
	<string>n</string>
	<key>Radix</key>
	<string>kn</string>
	<key>Shell</key>
	<string>n</string>
	<key>Insertion</key>
	<string>n</string>
	<key>Selection</key>
	<string>n^2</string>
	<key>Binary Tree</key>
	<string>n</string>
	<key>Timsort</key>
	<string>n</string>
</dict>
</plist>
