<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bubble</key>
	<string>n^2</string>
	<key>insertion</key>
	<string>n^2</string>
	<key>selection</key>
	<string>n^2</string>
	<key>intro</key>
	<string>nlog(n)</string>
	<key>quick</key>
	<string>n^2</string>
	<key>merge</key>
	<string>nlog(n)</string>
	<key>radix</key>
	<string>kn</string>
	<key>bogo</key>
	<string>n^n</string>
	<key>shell</key>
	<string>n(log(n)^2)</string>
	<key>heap</key>
	<string>nlog(n)</string>
</dict>
</plist>
